[MESSAGES CONTROL]

# Disable the message(s) with the given id(s).
# E0401 - used when pylint has been unable to import a module.
# W0201 - used when an instance attribute is defined outside the __init__ method.
# W0212 - access to protected member that is inevitable when breaking up argparse subparsers.
# W0235 - useless super delegation in method '__init__'.
# W0511 - TODO comments.
# W1203 - use lazy % formatting in logging functions
# bad-continuation: disagrees with black formatter
# missing-function-dosctring: docstyle handles
disable = E0401, E1136, W0201, W0212, W0235, W0511, W1203, bad-continuation

[MASTER]

# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code
extension-pkg-whitelist = numpy

[TYPECHECK]

# List of module names for which member attributes should not be checked
# (useful for modules/projects where namespaces are manipulated during runtime
# and thus existing member attributes cannot be deduced by static analysis. It
# supports qualified module names, as well as Unix pattern matching.
ignored-modules = numpy, skimage, tensorflow

# List of classes names for which member attributes should not be checked
# (useful for classes with attributes dynamically set). This supports can work
# with qualified names.
ignored-classes = numpy, skimage, tensorflow

[BASIC]

# Good variable names which should always be accepted, separated by a comma
good-names = _, a, b, c, d, e, f, i, j, k, n, N, m, M, D, p, r, t, v, x, X, y, Y, w, h, W, H, x1, x2, y1, y2, ax, df, xy, xyz, x0, y0, z0, z, xx, yy, app, log, tp, fp, fn, l2

# Regular expression which should only match correct function names
function-rgx = [a-z_][a-z0-9_]{2,70}$

# Regular expression which should only match correct method names
method-rgx = [a-z_][a-z0-9_]{2,70}$

[FORMAT]

# Maximum number of characters on a single line.
max-line-length = 120

# Allow f-strings in logging messages.
logging-format-style = new

# Change minimum number of identical files for R0801 to trigger.
min-similarity-lines=12

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=no

[DESIGN]
# Minimum number of public methods for a class (see R0903).
min-public-methods = 0

# Maximum number of attributes for a class (see R0902).
max-attributes = 15
max-locals = 25
max-args = 10
