prune benchmarks
prune bin
prune ci
prune docs
prune examples
prune extras
prune images
prune tests

exclude .*
exclude tox.ini
global-exclude *.py[cod] __pycache__/* *.so *.dylib
recursive-include deepblink *.txt
recursive-include conda *.yaml

include *.md
include LICENSE
include README.rst
include requirements.txt environment.yml
